@import url('https://fonts.googleapis.com/css?family=ABeeZee|Baloo|Bubblegum+Sans|Inconsolata&display=swap');
.container{
    margin-top:10px;
}

.logo-img{
    width: auto;
    height: 50px;
}

.btn {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    padding: 10px;
    width: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



#about {
    color: rgb(65, 60, 60);
    font-size: 20px;

}

#heading{
    font-family: 'Bubblegum Sans', cursive;
}

#subtitle,h3{
    font-family:'ABeeZee', sans-serif;
    color:rgb(78, 74, 74);

}

section{
    margin-top:20px;
}

#myImage{
    width:200px;
    height:190px;

}

.divider{
    height:80px;
}

.image-footer{
    margin-top:180px;
}


#color{
    color:red;
    font-family: 'Baloo', cursive;
}

.more-info{
    padding-top:150px;
    margin-top:50px;
    margin-top:-4px;
    background-color: rgb(17, 149, 226);
}

h3{
    color:white;
}